<div class="word-guess-view">
  <h2>guess</h2>

  @if (gameService.gameState == 'win') {
  <p>That's right!</p>
  }

  <div class="guessed-list">
    <ul>
      @for (word of getGuessedWords(); track $index) {
      <li>
        <ul class="guessed-word">
          @for (letter of word; track $index; let idx = $index) {
          <li class="guessed-word-letter-{{typeOfLetterInWord(word[idx], idx)}}">{{letter}}</li>
          }
        </ul>
      </li>
      }
    </ul>
  </div>

  <div class="word-guess-word">

    <form [formGroup]="wordForm" (submit)="guessWord()">
      
      <input #fL1 type="text" name="l1" formControlName="l1" maxlength="1" (keyup)="handle($event.keyCode, fL2, fL5)" />
      <input #fL2 type="text" name="l2" formControlName="l2" maxlength="1" (keyup)="handle($event.keyCode, fL3, fL1)" />
      <input #fL3 type="text" name="l3" formControlName="l3" maxlength="1" (keyup)="handle($event.keyCode, fL4, fL2)" />
      <input #fL4 type="text" name="l4" formControlName="l4" maxlength="1" (keyup)="handle($event.keyCode, fL5, fL3)" />
      <input #fL5 type="text" name="l5" formControlName="l5" maxlength="1" (keyup)="handle($event.keyCode, fL1, fL4)" />
      <button>Submit</button>
    </form>

  </div>

  <div class="letters">
    <ul class="letters-first-row">
      @for (letter of "QWERTYUIOP"; track $index) {
      <li class="letters-{{typeOfLetter(letter)}}">{{letter}}</li>
      }
    </ul>
    <ul class="letters-second-row">
      @for (letter of "ASDFGHJKL"; track $index) {
      <li class="letters-{{typeOfLetter(letter)}}">{{letter}}</li>
      }
    </ul>
    <ul class="letters-third-row">
      @for (letter of "ZXCVBNM"; track $index) {
      <li class="letters-{{typeOfLetter(letter)}}">{{letter}}</li>
      }
    </ul>
  </div>

</div>
