.guessed-word li {
    width: 28px;
    height: 28px;
    font-family: monospace;
    font-size: 24px;
    border: 1px solid black;
    margin-left: 2px;
    color: white;
    font-weight: 800;
    /* float: center; */
}

.guessed-word-letter-gray {
    background-color: gray;
}

.guessed-word-letter-yellow {
    background-color: goldenrod;
}

.guessed-word-letter-green {
    background-color: green;
}

.guessed-list ul {
    list-style-type: none;
}

.guessed-word {
    /* width: 24px;
    height: 28px; */
    margin-left: 7%;
    padding: 0;
    display: flex;
    margin-bottom: 4px
}

.word-guess-word input {
    width: 24px;
    height: 28px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 24px;
    margin-left: 2px;
    /* justify-content: center;  not really doing anything*/
}

.word-guess-word {
    margin-left: 10%;
}

.word-guess-view {
    font-family: monospace;
    font-size: 24px;
}

.letters {}

.letters ul {
    list-style-type: none;
    display: flex;
}

.letters li {
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.letters-second-row {
    padding-left: 4%;
}

.letters-third-row {
    padding-left: 6%;
}

.letters-gray {
    background-color: gray;
}

.letters-yellow {
    background-color: goldenrod;
}

.letters-green {
    background-color: green;
}

.letters-red {
    background-color: crimson;
}
